// this is the place for your variable overrides, paste variables from custom/_variables.scss here and set your values

// primary colour is set to false by default to enable multiple colour variants stylesheet creation, 
// change to your brand colour if needed
$primary: #687A50;
$secondary: false;

$font-family-serif:       'Open Sans', serif !default;
$font-family-sans-serif:  'Open Sans', sans-serif !default;
$font-family-heading:     'Open Sans' , sans-serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$btn-border-radius:           0;