<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Newton Grange</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class='nav-link dropdown-toggle' href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ .Title }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range .Children }}
              <li><a class='dropdown-item' href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
            </ul> 
          </li>
        {{ else }}
        <li class="nav-item">

          <a class='nav-link' href="{{ .URL }}">{{ .Title }}</a>
        </li>
        {{ end }}
      {{ end }}
      <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">&nbsp;&nbsp;<a class="btn btn-primary" href="user-add-0.html">Book now</a></li>
    </ul>
  </div>
</nav>
