
<header class="blog-header lh-1 py-3">
  <div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a href="/"><img src="/assets/img/ng-logo-wide-lightgreen-logosite-250px.jpg"></a>
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center">
        <ul class="list-inline align-items-center mb-0">
          <li class="list-inline-item"><a class="btn btn-primary btn-outline" href="#"><i class="fa-solid fa-phone pe-1"></i> Contact us</a></li>
          <li class="list-inline-item"><a class="btn btn-primary btn-outline" href="#"><i class="fa-solid fa-suitcase pe-1"></i> Book now</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class='nav-link' href="/cottages">Cottages</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/explore">Explore</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/blog">Blog</a>
        </li>
      <li class="nav-item">
        <a class='nav-link' href="/location">Location</a>
      </li>
    </ul>

</nav>

